{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block head_extra %}
<style>
</style>
{% endblock head_extra %}
{% block body %}
<div class="container white-text">
<br>
<div class="row black-text">
<div class="col l3 m3 s12 offset-s2 ">
    <a href="https://github.com/rinaldo-rex"><img src="https://scontent.fmaa2-1.fna.fbcdn.net/v/t1.0-9/13442134_1127491680626459_718656244129546541_n.jpg?oh=3d70f8f9cb4e90b94332d4765849ec3f&oe=5A73D6EE" class="circle responsive-img center z-depth-3 hoverable animated pulse infinite" style="height:200px; width:200px; float:left;"></a></div>
<p class="col">
    <br> <br><h2><small><small class="grey-text">*Psst!*</small></small> I'm Rinaldo<small><small class="grey-text"> <em>(cue intro bgm)</em></small></small>, the developer of this site.</h2>
</p>
</div>
<p class="center">
    <small><em>This is just a glimpse, but give it a read anyway! </em></small>

<div class="row">
  <div class="col l12">
    <div class="card-panel cyan darken-4 hoverable animated zoomIn">
      <span><h3 class="center ">What is this site made of?* <i class="small material-icons right">announcement</i></h3>
          Well, essentially a tug of war between smart work and hard work! <i class="material-icons">sentiment_very_satisfied</i><br> But thanks to <small>(hover over the tags!)</small>, <br>
          Language: <div class="chip hoverable tooltipped" data-position="right" data-delay="50" data-tooltip="Ooh, I love python.(No, not the snake, but yea that too. )">Python 3</div><br>
          Frontend: <div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am good at Bootstrap too. But isn't this frontend framework neat?(and classy too!)">MaterializeCSS</div> <div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="You can't get neat, lightweight animations better than this!">AnimateCSS</div><div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duh. Google has done a fantastic job with the design language!">Google Material Design</div><div class="chip hoverable tooltipped" data-position="right" data-delay="50" data-tooltip="What a great quick way to impress through typography!">Google Fonts</div><br>
          Backend: <div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ah... I'm honestly waiting for Django 2.0. Have you seen the beauty of url patterning in that? It as easy and better as in Flask!"> Django 1.11</div><div class="chip hoverable tooltipped" data-position="right" data-delay="50" data-tooltip="You can't take rest until you have a good RESTful API, can you?">Django REST framework</div><br>
          JS libs: <div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ha ha, Show me a beautiful site that doesn't use jquery! :P"> jQuery</div><div class="chip hoverable tooltipped" data-position="right" data-delay="50" data-tooltip="It's so damn beautiful. Data is often beautiful when visualised!"> ChartJS</div><br>
          Editor: <div class="chip hoverable tooltipped" data-position="right" data-delay="50" data-tooltip="I'm also goog at atom.io, VS code">PyCharm</div><br>
          Misc: <div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="Have you tried GitKraken? Oh it's so beautiful! And yea, I have used BitBucket, Gitlab in addition to GitHub!">Git VCS</div><div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duh. Look at this URL! :D">Heroku</div><div class="chip hoverable tooltipped" data-position="bottom" data-delay="50" data-tooltip="Let's be honest, not everyone is good with HTML. Markdown to the rescue!">Markdown</div><div class="chip hoverable brown white-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Hey, come on. I'm a developer. You can't show me a dev who doesn't drink coffee. Although... I'm a fan of tea."><em>A lot of coffee!</em></div><br><div class="center"><small class="grey-text"><em>*This site is still a work in progress!</em></small></div>
      </span>
    </div>
  </div>
  <div class="col l12">
    <div class="card-panel indigo darken-4  hoverable animated zoomIn">
      <span><h3 class="center">What am I good at?<small><small>(Professionally)</small></small> <i class="small material-icons right">create</i></h3>
          Uh... quite a few. From, HTML5/CSS3/<small>(A little bit of)</small>JS to C/C++/Java/Python2+, Linux... But the thing is, given the time and the opportunity, I would love to learn any new tech. <small><em>(So basically I'm tech agnostic! :P)</em></small>
      </span>
    </div>
  </div>
  <div class="col l12">
    <div class="card-panel green darken-3  hoverable animated zoomIn">
      <span><h3 class="center">What do I love?<small><small>(Professionally)</small></small> <i class="small material-icons right animated pulse infinite red-text">favorite</i></h3>
          Hmm. That's quite long a list. Let me try to brief it down. I love to play with data in unconventional ways. Basically a fan of <em>Artificial Intelligence, Machine learning and computer vision.</em><small class="grey-text"> (Not that I don't believe in Singularity or welcome that... Fan of Elon Musk you see!)</small><br><br>
          <div class="divider"></div>
          <br>
          Technically <small>and I'm only starting with these...</small> - Natural Language Processing, TensorFlow, MeteorJS, Electron, NoSQLdbs, IoT, NodeJS...
      </span>
    </div>
  </div>
  <div class="col l12">
    <div class="card-panel orange darken-4  hoverable animated zoomIn">
        <span><h3 class="center">What <em>else</em> am I good at?<small><small>(Personally)</small></small> <i class="small material-icons right">brush</i></h3>
            I can <a href="https://www.instagram.com/rinaldorex/" class="black-text">write</a> (duh!), draw, shoot <small>(Stricly photos! Although I know what you just thought. Wipe that smile off your face!)</small> fairly good <small>(No, seriously, I am!)</small>.
      </span>
    </div>
  </div>
  <div class="col l12">
    <div class="card-panel brown darken-2  hoverable animated zoomIn">
        <span><h3 class="center">What <em>else</em> do I love?<small><small>(Personally)</small></small> <i class="small material-icons right animated pulse infinite red-text">favorite</i></h3>
            A good thoughtful movie or a book that kindles the thinker in me. I'm an ardent, enthusiatic fan of social/behavioural psychology and intense philosophy that can kick even my desire to sleep<small class="">(That which already tiumphs everything else)</small>, away!<br><br><div class="divider"></div><br>
            Lots of tea <small>especially the ginger and lime ones!</small>, Sherlock Holmes, Dr. Gregory House, Beards, Witty Sarcasm <small><em>or not!</em></small>, Oh, and Minimalism. <small><small><small class="grey-text"><em>And hiding in plain sight!</em></small></small>  </small><br>
            <blockquote><small><em>Simplicity is the ultimate sophistication! - Leonardo Da Vinci</em></small></blockquote>
      </span>
    </div>
  </div>
  <div class="col l12">
    <div class="card-panel hoverable animated zoomIn black-text deep-purple darken-2 white-text">
      <span><h3 class="center">Do I sound interesting? <i class="small material-icons right orange-text">whatshot</i></h3>
          <em>Really?</em> Well, Thanks! Surprise! You can hire me! Ping me at <a href="mailto:rinaldorexg@gmail.com" class="red-text">my mail, </a><small class="grey-text"> you wouldn't be disappointed!</small> <br><br><div class="divider"></div><br> But really, I am not really that boring.(Maybe redunant. And repetitive. Or even superfluous.) <small class="grey-text">(Come on, I read Dan Brown!)</small> I am good at lame jokes too. You can even follow me on <a href="https://www.facebook.com/rinaldo.rex"> facebook.</a>      </span>
    </div>
  </div>
</div>
</p>
</div>
{% endblock body %}
{% block footer %}
{% endblock footer %}