{% extends 'base.html' %}
{% load static %}
{%block body%}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/home2.jpg' %}"></div>
</div>
<div class="section white">
    <div class="row container">
      <h2 class="header center-align">விடியலை நோக்கி...</h2>
       <h5 class="center-align"> <p class="grey-text">A demonstration site for the future of governance. What are the sections of the site?</p></h5>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">build</i>Ideas<span class="new badge teal animated tada">8</span></div>
            <div class="collapsible-body"><span>Have an idea you think will help people across our state? Shoot it out here. Help sort the priorities of existing ideas. Vote for an idea!</span></div>
            </li>
            <li>
              <div class="collapsible-header waves-effect waves-yellow"><i class="material-icons">warning</i>Issues<span class="new badge orange">7</span></div>
              <div class="collapsible-body"><span>There's an issue that you want the government to know? Here's your page to let the world know!</span></div>
            </li>
            <li>
              <div class="collapsible-header waves-effect"><i class="material-icons">people</i>Discussions<span class="new badge grey">4</span></div>
              <div class="collapsible-body"><span>This is the page that bridges the gap between the people and the government. That which can't be classified under either of the above, goes here.</span></div>
            </li>
        </ul>
    </div>
    </div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/home4.jpg' %}"></div>
</div>
<div class="section white">
<div class="row container">
  <h2 class="header">What?</h2>
  <p class="grey-text">Some of the visible problems of the people are because people who can rectify it are often not reachable by common people. Yes, not everyone can use a computer to log-in a problem faced by people of remote places. But all that is needed is for someone who at least visit the place, be it a govt. official or a tourist - who can use the internet can log the issue once a week/month</p>
</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/home3.jpg' %}"></div>
</div>
<div class="section white">
<div class="row container">
  <h2 class="header">Why?</h2>
  <p class="grey-text">Because most govt. officials either ignore the issues due to other higher priorities or it never reaches the concerned officials. The only way to make sure they did reach the concerned official is to let people know if it has. Not just the victims, but others - This gives them the idea which officials are not responding. And if an issue was not 'viewed' by the concerned official (at the least why a solution for the problem can't be done right away, or when it shall be rectified) within a stipulated time, an automated warning reaches him. If, for any unclarified reasons that was repeated, he shall be suspended.</p>
    <p> The problem that pervades everything currently, and that which is of high priority is to bridge the gap between officials and the common people. </p>
</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/home6.jpg' %}"></div>
</div>
<div class="section white">
<div class="row container">
  <h2 class="header">How?</h2>
  <p class="grey-text">Not everything can be rectified by the government if there are other serious issues to be handled. Either they respond you with a proper guideline, or they do the remedial measures. There are no in-betweens. </p>
</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/home_5.jpg' %}"></div>
</div>
{% endblock body %}