{% extends 'base.html' %}
{% load static %}
{% block jquery %}
    var endpoint = "{% url 'api-chart-data' object.pk %}"
    var data_val= []
    var labels = ["Needed Fund", "Available Fund"]
     $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            labels = data.labels
            data_val = data.data
            console.log(data)
            setChart()
        },
        error: function(error_data){
            console.log("Error:")
            console.log(error_data)
        }
     })

    function setChart(){
        console.log(labels)
        console.log(data_val)
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Fund Details',
                data: data_val,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255,99,132,1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
            <!--animation: {-->
            <!--onProgress: function(animation) {-->
                <!--progress.value = animation.animationObject.currentStep / animation.animationObject.numSteps;-->
            <!--}-->
            <!--}-->
        }
        });
    }

    {% endblock jquery %}
{% block content %}
<p>
<div class="row">
    <div class="col s12 l4">
    <img src="{{idea.img_url}}" class="responsive-img z-depth-2">
    </div>
    <div class="col s12 l8">
        <div class="row center-align"><h4> {{ idea.title }} </h4></div>
        <div class="row grey-text center-align"> <blockquote> {{ idea.desc }} </blockquote></div>
    </div>
</div>
<div class="row" style="text-align: justify;">
        {{idea.description}}
</div>
<div class="row">
    <canvas id="myChart" width="100" height="30" class=""></canvas>
</div>
</p>
{% endblock content %}


