<nav>
        <div class="nav-wrapper teal">
          <a href="{% url 'home' %}" class="brand-logo " style="padding-left:10px;"><i class="material-icons">cloud</i>விடியல்</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'ideas' %}"><i class="material-icons left">build</i>Ideas</a></li>
            <li><a href="{% url 'issues' %}"><i class="material-icons left">warning</i>Issues</a></li>
            <li><a href="{% url 'discussions' %}"><i class="material-icons left">people</i>Discussions</a></li>
            <li><a href="{% url 'about' %}"><i class="material-icons left">info</i>About</a></li>
          </ul>
        </div>
    </nav>