<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title%}</title>
    {% block head_extra%}
    {% endblock head_extra%}
    {% include 'snippets/css.html' %}
</head>
<body>
{% block nav %}
{% include 'snippets/nav.html' %}
{% endblock nav %}

{% block body %}
{% endblock body %}
<div class="container">
    {% block content%}
    {% endblock content %}
</div>
{%block footer%}
{% include 'snippets/footer.html' %}
{% endblock footer%}
{% include 'snippets/js.html' %}
<script type="text/javascript">
    $(document).ready(function(){
        {% block jquery %} {% endblock jquery %}
    })
    $(".button-collapse").sideNav();
</script>
</body>
</html>